body {
    box-sizing: border-box;
    margin-left: 20%; 
    margin-right: 20%;
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}

.evalForms li {
    float: left;
    width:16.6%;
    min-height: 36px;
}

.clearfix {
    overflow: auto;
/*@Alex the clearfix with ::after was the method I used before, it creates an element right after itself on which you can apply the CSS, in this case it was clear:both, in order to clear the float and restore the document normal flow.
    At Vali's advise I switched to the empthy div at the end instead.
    
The flow is disrupted because the children when they get float, they are driven out of the document float so the parent (probably out of grief) resizes itself, to contain only non-float items, and drags along the rest of the content below upwards.
*/
}

h1 {
    text-align: left;

}

