body{
    box-sizing: border-box;
    margin-left:20%; 
    margin-right:20%;
}

ul{
    list-style-type: none;
}

li {
    width:15%;
}

li{

}

textarea {
    resize: none;
}

.evalForms li{
    float: left;
    width:15%;
    padding: inherit;
}

#OOP ul::after{
    content: "";
    display: table;
    clear: both;
    border:solid thin #04b8f9;
}

#OOP {
    font-size: 1.5rem;
}

table{
    width:100%;
    text-align: center;
    border-collapse: collapse;
}

th{
    background-color: #04b8f9;
}

#candidate{
    width:1200px;
    text-align: center;
}

.clearfix {
    overflow: auto;
}